<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
      * {
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="w-full h-screen bg-[#CACACA] flex items-center justify-center">
      <div class="rounded-lg bg-[#FFFFFF] w-[90%] h-[90%] text-center">
        <div class="flex flex-wrap h-full">
          <div class="hidden lg:flex w-full lg:w-1/2 p-4 items-center justify-center">
            <img src="{{ url_for('static', filename='image/ez-link.png') }}" alt="EZ-Link" class="h-[80%] w-[80%] rounded-lg" />
          </div>
          <div class="w-full lg:w-1/2 pt-[4rem]">
            <h1 class="text-[25px] font-bold text-[#1F2937]">Welcome Back !</h1>
            <p class="text-[12px] text-[#20201f]">Please Input Your Account Details</p>
            <br />
            <br />
            <br />
            <form method="POST" action="{{ url_for('api auth.reset_password', token=token) }}" class="space-y-4 lg:ms-5 ms-5 me-5">
              <div class="mb-3">
                <label for="inputPassword" class="block text-sm font-medium text-gray-700 text-left">Password</label>
                <input type="password" class="form-control block w-full {% if password_error %} h-[2rem] border-red-600 {% endif %} px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="inputPassword" name="inputPassword" value="{{ request.form.get('inputPassword', '') }}" aria-describedby="passwordHelp" />
                {% if password_error %}
                  <p class="text-left text-red-600 sm:text-sm">{{ password_error }}</p>
                {% endif %}
              </div>
              <div class="mb-3">
                <label for="inputConfirmPassword" class="block text-sm font-medium text-gray-700 text-left">Confirm Password</label>
                <input type="password" class="form-control block w-full {% if confirm_password_error %} h-[2rem] border-red-600 {% endif %} px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="inputConfirmPassword" name="inputConfirmPassword" value="{{ request.form.get('inputConfirmPassword', '') }}" aria-describedby="confirmPasswordHelp" />
                {% if confirm_password_error %}
                  <p class="text-left text-red-600 sm:text-sm">{{ confirm_password_error }}</p>
                {% endif %}
              </div>
              <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Reset Password</button>
              <div class="flex flex-row justify-end text-sm">
                <div class="me-1">Have Account ?</div>
                <a href="http://localhost:5173/login" class="ms-1 text-blue-500">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
